<body>
    
    <div class="container mx-5 my-5" >
        <h3>Agregar una palabra clave al proyecto</h3>
        <form (submit)="addPalabra($event)">
          <div class="form-group">
              <input type="text" [(ngModel)]="palabra" name="palabraclave" class="form-control" placeholder="Ingresar la palabra clave">
          </div>
          <div class="form-group">
            <label for="my-input">Seleccione el proyecto al que pertenece la palabra clave</label>
            <select  name="idproyecto"  [ngModel]="idproyecto" (ngModelChange)="GrupoID($event)" class="custom-select">
                <option *ngFor="let pro of proyectos" [value]=pro.idproyecto>{{pro.titulo}}</option>
              </select>
          </div>
          <span class="input-group-addon">
            <button type="submit" class="btn btn-primary">
                Guardar
              </button>
        </span>
          </form>
</div>
</body>
